{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather website</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
    <div id="container">
        <div id="location">
            <form method="POST" action="{% url 'weather' %}">
            {% csrf_token %}
            <input type="text" id="country" placeholder="Country">
            <input type="text" id="city" placeholder="City">
            <input type="submit" id="check" value="Go">
            </form>

        </div>
        <img src="/img/clouds.svg" alt="" id="tempIcon">
        <div class="flex">
            {% if Error %}
            <p >{{Error}}</p>
            {% else %}
        <h2 id="weatherCountry">{{ sky }}</h2>
        <h2 id="temperature">{{ temp }}<b>C</b></h2>
        <h2 id="weatherDescription">{{ sky_desc }}</h2>
            {% endif %}
        <ul>
            <div class="features">
            <li id="feelsLike">Feels Like 0°C</li>
            <li id="humidity">Humidity 0</li>
            <li id="longitude">Longitude 0</li>
            <li id="latitude">Latitude 0</li>
            </div>
        </ul>
        <div class="h1">Maarij</div>
        </div>
    </div>
    {% block js %}
    <script src="/Weather_app/static/script.js"></script>
    {% endblock js %}
</body>
</html>