{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather website</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>

    <div    id="title_website">
    <img src="/img/weather.png" height="60px" width="60px" alt="Title_website" class="title_website">Weather Forecast
    </div>


     <div id="container">
        <div id="location">
            <input type="text" id="country" placeholder="Country">
            <input type="text" id="city" placeholder="City">
            <input type="submit" id="check" value="Go">
        </div>
        <img src="/img/clouds.svg" alt="" id="tempIcon">
        <div class="flex">
        <div id="weatherCountry">
            <img src="/img/location.png" alt="Location Icon" class="country-icon">Pakistan
        </div>
        <h2 id="temperature">0<b>°C</b></h2>
        <h2 id="weatherDescription">clear</h2>
        <ul>
            <div class="features">
        <li id="feelsLike"><b>Feels Like:</b> 0°C</li>
        <li id="humidity"><b>Humidity:</b> 10</li>
        <li id="wind_spd"><b>Wind Speed:</b> 0</li>
        <li id="longitude"><b>Longitude:</b> 0</li>
        <li id="latitude"><b>Latitude:</b> 0</li>

            </div>
        </ul>
        <div id="error_msg"></div>
        </div>
    </div>

<!--    Scroll/-->
    <div class="forecast-container">
        <h1 class="title">5-Day Forecast</h1>
        <div class="forecast">
            <div class="day">
                <span class="day-name" id="day1">Today</span>
                <img class="icon" id="icon1" src="/img/rain.svg" alt="Weather icon">
                <span class="temp-min" id="temp1">18°C</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 60%;"></div>
                </div>
                <span class="temp-max" id="temp_max1">32°C</span>
            </div>
            <div class="day">
                <span class="day-name" id="day2">Thu</span>
               <img class="icon" id="icon2" src="/img/clouds.svg" alt="Weather icon">
                <span class="temp-min" id="temp2">20°C</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 50%;"></div>
                </div>
                <span class="temp-max" id="temp_max2">29°C</span>
            </div>
            <div class="day">
                <span class="day-name" id="day3">Fri</span>
                <img class="icon" id="icon3" src="/img/snow.svg" alt="Weather icon">
                <span class="temp-min" id="temp3">23°C</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 70%;"></div>
                </div>
                <span class="temp-max" id="temp_max3">31°C</span>
            </div>
            <div class="day">
                <span class="day-name" id="day4">Sat</span>
                <img class="icon" id="icon4" src="/img/storm.svg" alt="Weather icon">
                <span class="temp-min" id="temp4">22°C</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 55%;"></div>
                </div>
                <span class="temp-max" id="temp_max4">29°C</span>
            </div>
            <div class="day">
                <span class="day-name" id="day5">Sun</span>
                <img class="icon" id="icon5" src="/img/sun.svg" alt="Weather icon">
                <span class="temp-min" id="temp5">23°C</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 80%;"></div>
                </div>
                <span class="temp-max" id="temp_max5">33°C</span>
            </div>
        </div>
    </div>
    <script src="{% static 'js/side_bar.js' %}"></script>
    <div id="additional-content"></div>
    <script>const API_KEY="{{ api_key }}"</script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>